body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.country-selector-wrapper {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    position: relative;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.flag-wrapper img {
    width: 30px;
    height: 20px;
}

.country-code-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.dropdown-list {
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    background: white;
    border: 1px solid #ccc;
    position: absolute;
    width: 100%;
    display: none;
    max-height: 150px;
    overflow-y: auto;
    z-index: 100;
}

.dropdown-list li {
    padding: 8px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
}